<div>
  <div>
    <app-product-filter></app-product-filter>
  </div>
  <div class="pb-10">
    <app-product-inventory></app-product-inventory>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
  </div>
</div>
